.comment {
  /* display: flex;
    margin-left: 2%;
    padding-left: 2% */
}

.comment-details {
  flex: 1;
  display: flex;
  margin-left: 2%;
}

.comment-details p {
  flex: 1;
}

.comment-text {
  flex: 9;
}

.child-comments {
  padding-left: 5%;
}
